<h1>{{ name }}</h1>
<dl>
  <div>
    <dt>Nombre:</dt>
    <dd>{{ name }}</dd>
  </div>

  <div>
    <dt>Edad:</dt>
    <dd>{{ age }}</dd>
  </div>

  <div>
    <dt>Capitalizado:</dt>
    <dd>{{ capitalizeName }}</dd>
  </div>

  <div>
    <dt>Método:</dt>
    <dd>{{ getHeroDescription() }}</dd>
  </div>
</dl>

<button
*ngIf="name!=='Spiderman'"
(click)="changeHero()"  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
*ngIf="age!==20"
(click)="changeAge()" class="btn btn-primary mx-2">
  Cambiar age
</button>

<button
*ngIf="name==='Spiderman' || age===20"
(click)="reset()" class="btn btn-primary mx-2">
  Reset
</button>

